@import url('https://fonts.cdnfonts.com/css/red-hat-text-2');
@import url('https://fonts.cdnfonts.com/css/tilt-warp');

@import "tailwindcss";

@theme {
  --color-myWarm: #FAFBFC;
  --color-myBlue: #91C8E4;
  --color-myOcean: #4682A9;
  --color-myDark: #769FCD; 
  --font-myHeader: 'Tilt Warp', sans-serif;
  --font-myText: 'Red Hat Text', sans-serif;
}

html {
  scroll-behavior: smooth;
}
