.card{
  transform: rotateY(180deg);
  animation: 2s hideCard linear;
  transition: transform 0.5s;
}

.card-img {
  transform: scale(0); 
  transition: transform 0.5s ease-in-out;
}

.card-img.hide {
  transform: scale(0);
}

.card.correct{
  background-color: #97B067; 
}

.card.wrong{
  background-color: #FB4141;
}

.card.active img,
.card.correct img,
.card.wrong img {
  transform: scale(1); 
}
