@import url('https://fonts.cdnfonts.com/css/malvinas');

/* :root {
  --primary: #6DE1D2;
  --primary-dark: #4DA1A9;
  --primary-light: #B4EBE6;
  --primary-text: whitesmoke;
} */

/* html{
  background-color: var(--primary-text);
}

h1{
  font-size: 24px;
  margin: 0;
  padding: 8px;
}

h2{
  font-size: 18px;
} */

.center{
  text-align: center;
  font-family: 'Malvinas Regular', sans-serif;
}

/* .container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: center;
} */

.player{
  margin: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-text);
}

.score{
  padding: 1px;
  font-size: small;
  font-weight: bold;
}

.action{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #91DDCF;
}

.round-btn{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  margin: 2px;
  cursor: pointer;
  background-color: var(--primary-dark);
  color: var(--primary-text);
  font-size: 13px;
}

.round-btn:hover{
  background-color: var(--primary-light);
}